@page "/AllCompanies"
@using DavidAlmkvistUppg3.Shared

@inject HttpClient _client;


<h1 class="d-flex justify-content-center">Alla Företag</h1>



@if (isLoading)
{
	<div class="d-flex justify-content-center">
		<div class="spinner-border "></div>
	</div>
}
else
{
<Virtualize Items="Companies" Context="company">
	
	<div class="card">
		<div class="card-header">
			<strong >@company.CompanyName</strong>
		</div>

		<div class="card-body">
			<strong>Plats:</strong> @company.Location <strong>Beskrivning:</strong> @company.Description
		</div>
	</div>

</Virtualize> 

}


@code {

	bool isLoading = true;
	protected override async Task OnInitializedAsync()
	{
		await AllComp();
	}

	List<Company> Companies { get; set; } = new();
   
	private async Task AllComp()
	{
		
		var respons =( await _client.GetFromJsonAsync<IEnumerable<Company>>("all"));
		Companies = respons.ToList();
		isLoading = false;
		StateHasChanged();
	}


}